.configuration {
	height: 100vh;
	width: 100vw;
	display: flex;
	position: fixed;
	top: 0%;
	left: 0%;
	transition: left 0.4s;
	background-color: #656565;
	padding: 2rem 1rem;
	.configuration__configButton {
		background: none;
		border: none;
		font-size: 1.7em;
		padding: 1rem;
		cursor: pointer;
		color: rgba(255,255,255,0.8);
		position: absolute;
		top: 0.8rem;
		right: 1rem;
		height: 10vh;
	}
}

.configuration--hidden {
	left: -100%;
}

.weatherForm {
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	padding: 3rem 0;
	position: relative;
	height: 40vh;
	&::after {
			content: '';
			position: absolute;
			top: 6.2rem;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #FFFFFF;
	}
	
	.weatherForm__inputlabel {
		display: none;
	}
	.weatherForm__input {
		width: 100%;
		background: none;
		border: none;
		color: #FFFFFF;
		font-size: 1.5em;
		padding: 1rem 1rem;
		position: relative;
		box-sizing: border-box;
		letter-spacing: .1em;
		&::placeholder {
			color: #FFFFFF;
		}
		&:focus {
			border: 2px solid #FFFFFF;
		}
	}
	.weatherForm__submit {
		display: none;
	}
	.weatherForm__submitlabel {
		position: absolute;
		right: -2rem;
		top: 1.8rem;
		color: rgba(255,255,255,0.7);
		font-size: 1.6em;
		cursor: pointer;
		padding: 2rem;
		&:focus {
			background-color: #FFFFFF;
		}
	}
	.weatherForm__radios {
		padding: 1rem;
		font-size: 1.1em;
		color: rgba(255,255,255,0.8);
	}
}

.configuration--active {
		left: 0%;
}